// надпись<br/>
color: black;
 font-size: 9px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 00.00.00 00:00
color: black;
 font-size: 7px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// очередь
color: black;
 font-size: 12px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// очередь
color: black;
 font-size: 12px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// очередь
color: black;
 font-size: 12px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word